
body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    justify-content: space-between;
    margin: 60px;
width: 100%;
    
}

.Reproductor {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 60%;
   padding: 70px;
    border-radius: 10px;
align-items: center;
    



}

.portada {
    width: 350px;
    height: 330px;
    border-radius: 10px;
    
}

.song-title {
    margin-top: 30px;
}


.controls {
    display: flex;
    justify-content: center;
}



.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6650705f;
    padding: 10px;
    border-radius: 5px;
    gap: 40px;
}

.control-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

.control-button:hover {
    background-color: rgba(100, 5, 112, 0.348);
border-radius: 5px;

}

.container {


        display: flex;
        justify-content: space-between;
        
    
    
}




.playlist {


    flex: 1 0 30%;
    list-style: none;
    padding: 60px;
    
    
    border-right: 1px solid #ccc;
}

.playlist-item {
    display: flex;
    
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.playlist-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}


.song-info h2 {
    margin: 0;
}


.repros{

padding-left: 5%;

}

    .cabecera {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        
      }
      
      .buscador {
        display: flex;
      }
      
      .buscador input {
        flex: 1;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
      }
      
      .buscador button {
        padding: 10px 20px;
        background-color: #555;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }


